<ion-header>
    <ion-navbar>
        <ion-title>Animais </ion-title>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-list-header>
            Bois
            <ion-note item-end>
                <button ion-fab mini [navPush]="boiPage">
                    <ion-icon name="add">
                    </ion-icon>
                </button>
            </ion-note>
        </ion-list-header>
        <a ion-item *ngFor="let boi of bois" (click)="openModal('boi', boi.$key)">
            <h2>{{boi.numero}}</h2>
            <p>Raça: {{boi.raca}}</p>
            <p>Data da compra/nascimento: {{boi.data}}</p>
        </a>
    </ion-list>
    <ion-list>
        <ion-list-header>
            Vacas
            <ion-note item-end>
                <button ion-fab mini [navPush]="vacaPage"><ion-icon name="add"></ion-icon></button>
            </ion-note>
        </ion-list-header>
        <a ion-item *ngFor="let vaca of vacas" (click)="openModal('vaca', vaca.$key)">
            <h2>{{vaca.numero}}</h2>
            <p>Origem: {{vaca.origem}}</p>
            <p>Data da compra/nascimento: {{vaca.data}}</p>
        </a>
    </ion-list>
    <ion-list>
        <ion-list-header>
            Bezerros
            <ion-note item-end>
                <button ion-fab mini [navPush]="bezerroPage"><ion-icon name="add"></ion-icon></button>
            </ion-note>

        </ion-list-header>
        <a ion-item *ngFor="let bezerro of bezerros" (click)="openModal('bezerro', bezerro.$key)">
            <h2>{{bezerro.numero}}</h2>
            <p>Origem: {{bezerro.origem}}</p>
            <p>Data da compra/nascimento: {{bezerro.data}}</p>
        </a>
    </ion-list>

</ion-content>